@tailwind base;
@tailwind components;
@tailwind utilities;

/* MtgCard.css */


.card {
    transition: transform 0.1s ease, opacity 0.1s ease;

    backface-visibility: hidden;  /* Prevents a flicker effect during rotation */
    opacity: 1;
}

.current-card {
    z-index: 2;
}

.next-card {
    z-index: 1;
    opacity: 0.5;
}

img {
    max-width: 90%;
    max-height: 80%;
}


/* Hide the card during the transition */
.hidden {
    opacity: 0;
    transform: translateX(0) rotate(0); /* Ensure it resets to original position */
}

/* Make the new card larger and increase opacity */
.visible {
    transform: scale(1);
    opacity: 1;
}

